@import '../../../../styles/variables';

.header {
	position: relative;
	line-height: 0;
	z-index: 1;
	height: 4rem;
	background-color: rgba($color-primary-green, 0.1);
	box-shadow: 10px 0 5px 5px rgba($color-black, 0.1);

	&-section {
		height: 100%;
		width: fit-content;
		display: flex;
		align-items: center;

		&--right {
			float: right;
			justify-content: flex-end;
		}

		&--left {
			float: left;
			text-transform: uppercase;
			font-family: $font-nunito-semi-bold;
			font-size: 1.1rem;
			padding-left: 2.5rem;

			a,
			a:hover,
			a:active,
			a:visited {
				color: inherit;
				transition: none;
			}

			button {
				margin-right: 6.5rem;
			}
		}
	}

	&-btn {
		text-transform: uppercase;
		border: 3px solid $color-primary-red;
		transition: all 0.2s ease-in-out;
		font-family: $font-nunito-bold;
		background-color: $color-primary-red;
		color: $color-white;
		padding: 1rem;
		border-radius: 10px;

		&:hover {
			cursor: pointer;
			background-color: darken($color-primary-red, 12%);
			border-color: darken($color-primary-red, 12%);
		}

		&--icon {
			padding: 0.4rem;
			border-radius: 50%;
			font-size: 1.25rem;
		}

		&--auth:hover {
			background-color: $color-white;
			color: $color-primary-red;
		}
	}

	&-icon {
		margin-right: 1.5rem;
	}

	&-auth {
		display: inline-flex;
		align-items: center;

		&__avatar {
			&:hover {
				cursor: pointer;
			}

			&--default {
				background-color: $color-primary-red;
				font-family: $font-nunito-semi-bold;
			}
		}
	}

	&-skeleton {
		margin-left: 0.5rem;
	}
}
