@import '../../../styles/variables';
.profile-acount-page {
    margin-top: rem(25px);
    margin-bottom: rem(25px);
    width: 100%;
    .ant-tabs {
        font-size: 10px;
        color: #da3333;
        // align-items: center;
        align-content: center;
        width: 100%;
    }
    .m-1 {
        align-items: flex-end;
        margin-left: rem(420px);
        .ant.upload {
            background-color: #da3333;
        }
    }
    .profile-avatar{
        padding-bottom: rem(110px);
    }
    // .profile-item {
    //     padding-top: rem(110px);
    // }
    .form-header {
        // font: $fw-semiBold 2rem $font-euclid-semibold;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .ant-form-item {
        margin-bottom: 0;
    }
    .ant-divider-with-text-center {
        // font: $fw-medium 1rem $font-euclid-medium;
        line-height: 1.5rem;
        margin: 0rem;
        margin-top: 1.5rem;
        &::before,
        &::after {
            border-top: 0.125rem solid #c0c0c0;
        }
    }
}

.ant-layout, .ant-layout * {
    justify-content: center;
}

.app-social {
    justify-content: center;
    display: flex;
    .logo-img {
        width: 2.5rem;
    }
    .app-social-item {
        margin: 0.5rem;
    }
}