@import '../../styles/variables';

.homepage {
	background-color: rgba($color-oasis, 0.1);
}

.newest {
	padding: 5rem 8rem;

	&-category-skeleton {
		margin-bottom: 5rem;

		&__title {
			border-radius: 0.5rem;
			width: 10rem;
			height: 2rem !important;
		}

		&__divider {
			margin-top: 0.42rem;
			border-radius: 0.5rem;
			width: 100%;
			height: 0.4rem !important;
		}

		&__content {
			margin-top: 0.65rem;
			border-radius: 0.5rem;
			width: 100%;
			height: 15rem !important;
		}
	}
}
