.carousel-section {
	position: relative;
	height: 30rem;
	background-repeat: no-repeat;
	background-size: cover;
}

.carousel-section--clothes {
	background-image: url('./clothes.png');
	background-position: left center;
}

.carousel-section--gears {
	background-image: url('./gears.jpg');
	background-position: left top;
}

.carousel-section--cameras {
	background-image: url('./electronics.jpg');
	background-position: left center;
}

/* .carousel-section--motors {
	background-image: url('./motor2.png');
	background-position: left bottom 25%;
} */

.carousel-section--cosmetics {
	background-image: url('./cosmetics.jpg');
	background-position: left bottom;
}

.test {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(245, 245, 245, 0.8);
	clip-path: polygon(65% 0, 100% 0, 100% 100%, 45% 100%);
}

.test--unclipped {
	clip-path: none;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.test-content {
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.test--1 {
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.test--1 {
	font-size: 4.25rem;
	letter-spacing: 3.5px;
}

.hotpicks {
	padding: 5rem 3rem;
	background-color: rgba(19, 168, 158, 0.1);
}

.hotpicks-category {
	margin: 3rem 0;
}

.hotpicks-category__title {
	border-bottom: 5px solid #333333;
	color: #333333;
	padding: 0.25rem 1.5rem;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 1.5px;
}

.hotpicks-category-item {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hotpicks-category-item > img {
	max-width: 15rem;
	height: 15rem;
}

.carousel {
	overflow: hidden;
}

.carousel .slick-dots {
	height: fit-content;
	position: absolute;
	margin: 0;
}

.carousel li {
	width: fit-content !important;
	height: fit-content !important;
	display: flex !important;
	align-items: center;
}

.carousel li button,
.carousel li button:hover,
.carousel li button:focus,
.carousel li button:active {
	width: 3rem !important;
	height: 3rem !important;
	background: 0 !important;
}

.carousel li button::after {
	content: ' ';
	display: block;
	width: 0.65rem;
	height: 0.65rem;
	border: 3px solid #13a89e;
	background-color: #13a89e;
	border-radius: 100%;
	margin: 0 auto;
	transition: all 0.2s linear;
}

.carousel li.slick-active button::after {
	border-color: #ef4d65;
	background-color: transparent;
	width: 0.85rem;
	height: 0.85rem;
}

.carousel .slick-next {
	right: 4rem;
}
.carousel .slick-prev {
	left: 4rem;
}

.carousel-arrow.slick-arrow,
.carousel-arrow.slick-arrow:hover,
.carousel-arrow.slick-arrow:active,
.carousel-arrow.slick-arrow:focus {
	width: fit-content;
	margin-top: 0;
	transform: translateY(-50%);
	z-index: 4;
	color: transparent;
	font-size: 2.5rem;
	transition: all 0.5s ease-in-out;
}

.carousel:hover .carousel-arrow.slick-arrow {
	color: #ef4d65;
}

.carousel-arrow.slick-arrow::before,
.carousel-arrow.slick-arrow:hover::before,
.carousel-arrow.slick-arrow:active::before,
.carousel-arrow.slick-arrow:focus::before {
	display: none;
}

.watermark {
	position: absolute;
	width: 6.5rem;
	top: 20px;
	left: 20px;
}
